
<footer id="footer" class="text-center bg-light-gray text-black">
  <br />
  <p class="text-center">Copyright &copy; 2015 ~ 2019 | All rights reserved. | <a href="http://ryanhunter.org/" target="_blank">RHo</a> </p>
  
  <p class="text-center"><a href="{{ url_for('home') }}">Home</a> | <a href="{{ url_for('courses') }}">Courses</a> |  <a href="{{ url_for('mission') }}">Out Mission</a> |  <a href="{{ url_for('about') }}">About</a> |  <a href="{{ url_for('testimonials') }}">Testimonials</a> |  <a href="{{ url_for('quizfun') }}">Fun</a> |  <a href="{{ url_for('volunteers') }}">Volunteers</a> |  <a href="{{ url_for('contact') }}">Contact</a>    </p>
  
  <div class="footer_social">

  <a href="https://github.com/systemsvanguard" title="GitHub"><i class="fab fa-github"></i> </a> 
  <a href="https://www.meetup.com/members/41724382/" title="MeetUp"><i class="fab fa-meetup"></i> </a> 
  <a href="https://stackexchange.com/users/1296565/funtasticapps" title="Stack Exchange"><i class="fab fa-stack-exchange"></i> </a>
  <a href="https://www.reddit.com/user/funtasticapps" title="Reddit"><i class="fab fa-reddit-alien"></i> </a>
  <a href="https://stackoverflow.com/users/1247476/funtasticapps" title="Stack Overflow"><i class="fab fa-stack-overflow"></i> </a>
  <a href="https://www.linkedin.com/in/ryan-hunter-4a166013/" title="LinkedIn"><i class="fab fa-linkedin"></i> </a>

  </div>
  
  <p class="text-center">Coding portfolio of <a href="http://ryanhunter.org/" target="_blank">RyanHunter.org</a><br />
  <span style="color:maroon;font-weight: bold;">Fictitous site.</span>  Dummy filler text kindly provided by <a href="https://pirateipsum.me/">PirateIpsume.me</a>.  Graphics provided by <a href="https://picsum.photos/">Lorem Picsum</a> and assorted sources.
  </p>
  <br />

  
</footer>

